// Global stílar, mest megnis frá create-next-app
:root {
  --fonts: Helvetica, Arial, sans-serif;
  --color-paperwhite: #ffe;
  --color-error: #a77;
  --color-white: #eee;
  --color-accent: #aa6;
  --color-accent-dark: #663;
  --color-accent-light: #cc8;
}

html,
body {
  padding: 1em;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

main {
  margin: 0 auto; 
  max-width: 60vh;
}

h1 {
  font-family: var(--fonts);
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-family: var(--fonts);
  font-size: 1.5rem;
  font-weight: 400;
}

hr {
  margin-top : 1rem;
  margin-bottom: 1rem;
}

ul {
  margin-left: 0.5rem;
  list-style: none;
}

li {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
